@import 'styles/variables.scss';

.item {
  padding: 5px;
  position: relative;
  width: calc(100% / 9);
  transition: width 100ms;

  @media (max-width: 1500px) {
    width: calc(100% / 6);
  }
  @media (max-width: 1024px) {
    width: calc(100% / 4);
  }
  @media (max-width: 768px) {
    width: calc(100% / 3);
  }
  @media (max-width: 425px) {
    width: calc(100% / 2);
  }
}

.link {
  border-radius: 3px;
  display: grid;
  height: 120px;
  padding: 10px;
  place-items: center;
  @include body-short-link;
}

.price {
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
}

.describe {
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  @media (max-width: 1024px) {
    font-size: 12px;
  }
  @media (max-width: 425px) {
    font-size: 10px;
  }
}
