@import 'styles/variables.scss';

.item {
  padding: 5px;
  position: relative;
  width: calc(100% / $xx-large-grid-row-items);
  transition: width 100ms;

  @media (max-width: $xx-large) {
    width: calc(100% / $large-grid-row-items);
  }
  @media (max-width: $large) {
    width: calc(100% / $medium-grid-row-items);
  }
  @media (max-width: $medium) {
    width: calc(100% / $small-grid-row-items);
  }
  @media (max-width: $mobile) {
    width: calc(100% / $mobile-grid-row-items);
  }
}

.link {
  background-color: darken($box-bg, 0.9);
  border-radius: 3px;
  cursor: pointer;
  display: grid;
  height: 130px;
  padding: 10px;
  place-items: center;
  @include body-short-link;

  &:hover {
    background-color: $box-element-color;
  }
}

.empty {
  pointer-events: none;
}

.price {
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
}

.describe {
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  @media (max-width: $large) {
    font-size: 12px;
  }
  @media (max-width: $mobile) {
    font-size: 10px;
  }
}
