@import 'styles/index';

.wrapper {
  flex-direction: column;
  min-height: 350px;
  width: 650px;
  margin: 10px auto;

  @include box-container;

  .header {
    margin: 0 20px 25px;
    text-align: center;
    font-size: 18px;
  }

  .header,
  .input,
  .text {
    @include body-short;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input,
    .text {
      background-color: $box-element-color;
      border: none;
      padding: 10px;
      @include body-short;
    }

    .input {
      height: 40px;
    }

    .text {
      resize: none;
    }

    .error {
      text-align: left;
      color: $dark-red;
      font-size: 13px;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}

@include large-screen {
  .wrapper {
    width: auto;
    margin: 10px;
  }
}
