@import 'styles/variables.scss';

.error {
  text-align: left;
  color: $dark-red;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0;
}

.form {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
  @include body-short;
}

.input,
.text {
  background-color: transparent;
  border: 1px solid $darken-light;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  @include body-short;
}

.input {
  height: 40px;
}

.text {
  margin-top: 15px;
  resize: none;
}

.header {
  margin: 0 20px 25px 20px;
  text-align: center;
  font-size: 20px;

  @include body-short;
}
