@import 'styles/index.scss';

.wrapper {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 350px;
  width: 650px;
  margin: 10px auto;

  @include box-container;
  @include body-short;

  .title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .text {
    margin-bottom: 25px;
  }
}

@include large-screen {
  .wrapper {
    width: auto;
    margin: 10px;
  }
}
