@import 'styles/variables.scss';

.label {
  background: $lighten-bg;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 5px;
  padding: 5px;
  display: flex;
}

.input {
  margin-right: 5px;
}

.checked {
  border: 1px solid $main-font-color;
}
