@import "styles/variables.scss";

.item {
  background-color: $lighten-bg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-left: 10px;
  margin-bottom: 10px;
  color: $main-font-color;
}
