@import 'styles/index';

.label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 5px;
  padding: 3px 0 3px 3px;

  @include body-short;
}

.input {
  margin-right: 5px;
  cursor: pointer;
}

.checked {
  border: 1px solid $main-font-color;
}
