@import 'styles/index.scss';

.loader {
  animation: spin 1s infinite ease-in-out;
  border-bottom: 1px dashed $base-dark;
  border-radius: 50%;
  border-top: 1px dashed $main-font-color;
  height: 75px;
  margin: 100px auto;
  width: 75px;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
