@import 'styles/variables.scss';

.closeBtn {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 0;
  margin: -10px;
  outline: none;
  padding: 10px;
  text-decoration: none;
  vertical-align: middle;
  z-index: $z-index-modal;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
}
