@import 'styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  background: $box-element-color;
  border-top: 1px solid transparent;
}

.topBordered {
  border-top: 1px solid $main-font-color;
}

.listWrapper {
  position: relative;
}

.list {
  background: $box-bg;
  border: 1px solid $box-element-color;
  text-align: center;
  white-space: nowrap;
  z-index: $z-index-normal;
  position: absolute;
}

.subfilter {
  cursor: pointer;
}

.button {
  align-items: center;
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  height: 30px;

  @include body-short;
}

.listActive {
  pointer-events: auto;
}

.iconWrapper {
  display: flex;
  padding-right: 5px;
}
