@import 'styles/index.scss';

.profile {
  font-size: 15px;
  flex-direction: row;
  margin: 10px 0 10px 10px;

  @include box-container;

  img {
    margin-right: 10px;
    display: block;
  }

  .ownerName {
    margin-bottom: 25px;
  }

  .profileDescribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 150px;
    @include body-short;
  }
}

@include large-screen {
  .profile {
    flex-direction: row;
    margin: 10px 10px 0 10px;
  }
  .profileDescribe {
    justify-content: space-between;
  }
}
