@import 'styles/variables.scss';

.profile {
  min-width: 15%;
  font-size: 15px;

  @include box-container;

  .profileImage {
    padding-right: 10px;
  }

  .name {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;

    @include body-short;

    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }
}
