@import 'styles/variables.scss';

.profile {
  font-size: 15px;
  flex-direction: column;
  margin: 10px 0 10px 10px;
  width: 10%;
  min-width: 145px;

  @include box-container;

  .profileImage {
    padding-right: 10px;
  }

  .imageWrapper {
    text-align: center;
    margin-bottom: 10px;
    @media (max-width: $large) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  .name {
    display: flex;
    flex-direction: column;
    text-align: left;

    @include body-short;
  }
}

@media (max-width: $large) {
  .profile {
    flex-direction: row;
    font-size: 13px;
    margin: 10px 10px 0 10px;
    width: auto;
  }
  .name {
    justify-content: space-between;
  }
}
