@import 'styles/variables.scss';

.pages {
  margin: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0 10px;
  font-size: 15px;

  @include body-short;

  @media (max-width: 768px) {
    padding-bottom: 5px;
    text-align: center;
  }
}

.updateTime {
  font-size: 0.9em;
  text-align: center;
  padding: 0 10px;

  @include body-short;
}
