@import 'styles/variables.scss';

.searchBlock {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  input[type='text'] {
    height: 40px;
    margin: 0 -10px;
    background-color: $lighten-bg;
    border: 1px solid $main-font-color;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    &::placeholder {
      font-family: monospace;
    }
  }

  @media (max-width: 768px) {
    margin: 10px;
    form {
      flex: 1;
    }
    input[type='text'] {
      margin: 0;
      border: 1px solid $base-dark;
      width: 100%;
      border-radius: 0;
    }
  }
}

.searchBtn {
  button {
    background-color: $lighten-bg;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid $main-font-color;
    font-family: monospace;
    height: 50px;
    width: 200px;
    padding: 0;
    &:active {
      background-color: $base-dark;
    }
  }
  @media (max-width: 768px) {
    button {
      width: 150px;
      height: 40px;
      border: 1px solid $base-dark;
      border-radius: 0;
      margin-left: 10px;
    }
  }
}
