@import 'styles/variables.scss';

.main {
  flex: 1;
  min-width: 320px;
}

.footer {
  align-items: center;
  background-color: $base-dark;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  min-height: 50px;
  padding: 10px;

  @include body-short;
}
