@import 'styles/variables.scss';

.main {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 320px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: $base-dark;
  letter-spacing: 1px;

  @include body-short;
}
