@import 'styles/variables.scss';

.main {
  max-width: 1500px;
  min-width: 320px;
  flex-grow: 1;
  align-self: center;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: $base-dark;
  color: $main-font-color;
  letter-spacing: 1px;
}
