@import "styles/variables.scss";

.details {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}

.name {
  margin-top: 15px;
  margin-bottom: 0;
}

.descriptions {
  text-align: left;
}

.exterior {
  margin-top: 0;
  margin-bottom: 15px;
}
