@import 'styles/variables.scss';

.container {
  display: inline-block;
  @include body-short;
}

.select {
  background-color: $dark-grey;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $darken-light;
  margin-left: 10px;
  @include body-short;
}
