.title {
  margin: 25px 10px 5px 10px;
}

.pages {
  margin: 10px;
}

.gridHeader {
  display: flex;
  font-size: 15px;
  justify-content: flex-start;
  align-items: baseline;
}

.updateTime {
  margin-left: 10px;
}
