@import 'styles/index';

.wrapper {
  flex-direction: column;
  width: 600px;
  margin: 10px auto;
  @include box-container;
  @include large-screen {
    width: auto;
    margin: 10px;
  }

  .fields {
    display: flex;
    gap: 10px;

    label {
      flex: 1;
    }
  }

  .note {
    text-align: center;
    padding-top: 5px;
    @include body-short;
    @include large-screen {
      font-size: 0.9em;
    }
  }

  .input {
    background-color: $box-element-color;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding-left: 10px;

    @include body-short;
  }

  .buttonText {
    width: 200px;
    @include large-screen {
      width: 150px;
      padding: 0 5px;
    }
    @include mobile-screen {
      width: 120px;
      padding: 0 5px;
    }
  }
}
