@import 'styles/variables.scss';

.block {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.buttonText {
  width: 200px;
}

.input {
  background-color: $lighten-bg;
  border: 1px solid $darken-light;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  padding-left: 10px;

  @include body-short;
}

.note {
  text-align: center;
  margin: 10px;
  @include body-short;
}

@media (max-width: 768px) {
  .buttonText {
    width: auto;
    padding: 0 5px;
  }
  .input {
    width: 100%;
  }
}
