@import 'styles/variables.scss';

.searchBlock {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonText {
  width: 200px;
}

.input {
  background-color: $lighten-bg;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid $main-font-color;
  height: 40px;
  margin: 0 -10px;
  padding-left: 10px;

  @include body-short;
}

@media (max-width: 768px) {
  .buttonText {
    width: auto;
    padding: 0 5px;
  }

  .searchBlock {
    margin: 10px;
    gap: 5px;
    label {
      flex: 1;
    }
  }
  .input {
    margin: 0;
    border: 1px solid $base-dark;
    width: 100%;
    border-radius: 0;
  }
}
