@import 'styles/variables.scss';

.list {
  flex-wrap: wrap;
  gap: 5px;
  @include box-container;
}

.item {
  width: 2rem;
  height: 2rem;
}

.link {
  background: $box-element-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;

  @include body-short-link;
}

.linkActive {
  border: 1px solid $main-font-color;
}
