@import 'styles/variables.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
  gap: 5px;
}

.item {
  width: 2rem;
  height: 2rem;
}

.link {
  background: transparent;
  border-radius: 5px;
  border: 1px solid $darken-light;
  cursor: pointer;
  height: 100%;
  width: 100%;

  @include body-short-link;
}

.linkActive {
  border: 1px solid $main-font-color;
}
