@import 'styles/variables.scss';

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 2rem;
  height: 2rem;
  margin: 0 5px 5px 0;
}

.link {
  cursor: pointer;
  width: 100%;
  background: transparent;
  height: 100%;
  border-radius: 5px;
  border: 1px solid $darken-light;
}

.linkActive {
  border: 1px solid $main-font-color;
}
