@import 'styles/variables.scss';

.hamburgerBtn {
  align-items: center;
  padding: 0 10px;
  background: transparent;
  border: none;
  display: flex;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background: $lighten-bg;
  }
  &:active {
    background: $darken-light;
  }
}

.links {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 90px 0 0 40px;
}

.linkText {
  padding-left: 5px;
  font-size: 24px;
}
