@import 'styles/index';

.hamburgerBtn {
  align-items: center;
  padding: 0 10px;
  background: transparent;
  border: none;
  display: flex;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background: $box-bg;
  }

  &:active {
    background: $box-element-color;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px 0 0 40px;
}

.link {
  font-size: 24px;

  svg {
    margin-right: 5px;
  }

  @include body-short-link;
}
