@import 'styles/index';

.wrapper {
  flex-direction: column;
  margin: 0 10px 10px;
  @include box-container;

  .updateTime {
    font-size: 0.9em;
    text-align: center;
    padding: 0 10px;

    @include body-short;
  }

  .list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}
