@import 'styles/index.scss';

.wrapper {
  flex-direction: column;
  margin: 0 10px 10px 10px;
  @include box-container;

  .list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .updateTime {
    font-size: 0.9em;
    text-align: center;
    padding: 0 10px;

    @include body-short;
  }

  .overlay {
    background: rgba($base-dark, 0.8);
    z-index: $z-index-normal;

    @include portal-overlay;
  }
}
