@import 'styles/variables.scss';

.menu {
  background: $lighten-bg;
  position: relative;
  width: 75%;
  opacity: 0.9;
  height: 100%;
  z-index: 101;
  overflow: hidden;
  box-shadow: 5px 0px 10px 0px $darken-bg;
}

.links {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 90px 0 0 40px;
}

.linkText {
  padding-left: 5px;
  font-size: 24px;
}
