@import "styles/variables.scss";

.item {
  align-items: center;
  background-color: $lighten-bg;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: transform 100ms linear;
}

.title {
  margin: 25px 10px 5px 10px;
}
