@import "styles/variables.scss";

.item {
  align-items: center;
  background-color: $lighten-bg;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: transform 100ms linear;
}

.title {
  margin-bottom: 10px;
  margin-left: 10px;
}
