@import 'styles/variables.scss';

.toggle {
  background: none;
  border: none;
  cursor: pointer;
  @include body-short;
}

.switch {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  @include body-short;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
  &:checked + .slider {
    background-color: $dark-green;
  }
  &:checked + .slider::before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &::before {
    position: absolute;
    content: '';
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: $main-font-color;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.round {
  border-radius: 34px;
  &::before {
    border-radius: 50%;
  }
}
