@import "styles/variables.scss";

.label {
  border: 1px solid transparent;
  border-radius: 5px;
  background: $lighten-bg;
  cursor: pointer;
  display: block;
  margin: 5px;
  padding: 5px;
}

.checked {
  border: 1px solid $main-font-color;
}
