.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title {
  text-align: center;
}

.container {
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 555px;
  }
  @media (min-width: 768px) {
    width: 740px;
  }
  @media (min-width: 1024px) {
    width: 925px;
  }
}

.searchBlock {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  input[type="text"] {
    height: 40px;
    margin: 0 -10px;
    border: 2px solid #202020;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    &::placeholder {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

.searchBtn {
  text-align: center;
  height: 50px;
  width: 200px;

  button {
    background-color: #202020;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 200px;
    padding: 0;

    &:active {
      background-color: gray;
    }
  }
}
