@import "styles/variables.scss";

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title {
  margin-left: 10px;
  margin-bottom: 10px;
  color: $main-font-color;
}

.itemsFilter {
  background: $lighten-bg;
  color: $main-font-color;
  display: block;
  margin: 10px;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 344px;

  @media (min-width: 533px) {
    width: 516px;
  }

  @media (min-width: 768px) {
    width: 688px;
  }
  @media (min-width: 1024px) {
    width: 860px;
  }
}

.searchBlock {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  input[type="text"] {
    height: 40px;
    color: $main-font-color;
    margin: 0 -10px;
    background-color: $lighten-bg;
    border: 1px solid $main-font-color;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    &::placeholder {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

.searchBtn {
  text-align: center;
  height: 50px;
  width: 200px;

  button {
    background-color: $lighten-bg;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid $main-font-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    width: 200px;
    padding: 0;

    &:active {
      background-color: gray;
    }
  }
}
