$main-font-color: gainsboro;

$darken-light: #323949;
$lighten-bg: #232527;
$base-dark: #202020;
$darken-bg: #1d1f20;

$dark-disabled: #333;

$dark-red: #800000;
$dark-green: #006400;
$dark-grey: #3f3f3f;

$z-index-hidden: -1;
$z-index-normal: 1;

@mixin portal-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

@mixin body-short {
  color: $main-font-color;
  font-family: monospace;
}

@mixin body-short-link {
  text-decoration: none;
  @include body-short;
}
