@import 'styles/variables.scss';

.main {
  max-width: 1500px;
  min-width: 320px;
  margin: 0 auto;
  min-height: 92vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: $base-dark;
  color: $main-font-color;
  letter-spacing: 1px;
}
