@import 'styles/variables.scss';

.header {
  min-height: 50px;
  background: $base-dark;
}
.container {
  max-width: 1500px;
  width: 90%;
  margin: auto;
}

.navbar input[type='checkbox'],
.navbar .hamburgerLines {
  display: none;
}

.navbar {
  background: $base-dark;
  box-shadow: 0px 5px 10px 0px $lighten-bg;
  color: $main-font-color;
  opacity: 0.95;
  position: fixed;
  width: 100%;
  z-index: 12;
}

.navbarContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.items {
  align-items: center;
  order: 2;
  display: flex;
}

.item {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.logo {
  order: 1;

  font-size: 24px;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbarContainer input[type='checkbox'],
  .navbar .hamburgerLines {
    display: flex;
  }

  .navbarContainer {
    display: block;
    input[type='checkbox'] {
      position: absolute;
      display: block;
      height: 32px;
      width: 35px;
      top: 10px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  }

  .hamburgerLines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line {
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background: $main-font-color;
  }

  .line1 {
    transform-origin: 0% 0%;
    transition: transform 200ms ease-in-out;
  }

  .line2 {
    transition: transform 100ms ease-in-out;
  }

  .line3 {
    transform-origin: 0% 100%;
    transition: transform 200ms ease-in-out;
  }

  .items {
    align-items: flex-start;
    padding-top: 100px;
    background: $base-dark;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 150ms ease-in-out;
    box-shadow: 5px 0px 10px 0px $lighten-bg;
  }

  .item {
    margin-bottom: 1.5rem;
    margin-left: 0;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    align-items: center;
    display: flex;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 15px;
    height: 50px;
  }

  .navbarContainer input[type='checkbox']:checked ~ .items {
    transform: translateX(0);
  }

  .navbarContainer input[type='checkbox']:checked ~ .hamburgerLines .line1 {
    transform: rotate(35deg);
  }

  .navbarContainer input[type='checkbox']:checked ~ .hamburgerLines .line2 {
    transform: scaleY(0);
  }

  .navbarContainer input[type='checkbox']:checked ~ .hamburgerLines .line3 {
    transform: rotate(-35deg);
  }
}
